@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: rgb(15 23 42);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body,
#root {
  width: 100%;
  color: #ddd;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: rgb(30 41 59);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(15 23 42);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(33, 55, 88);
}

header {
  background-color: rgb(30 41 59);
  height: 70px;
  padding-block: 4vh;
  width: 100%;
  font-weight: 900;
  word-spacing: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  padding: 50px;
  margin-inline: auto;
}

.add {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 230px;
}

.add > button {
  user-select: none;
  font-size: 20px;
  cursor: pointer;
  background: rgb(30, 41, 59);
  color: #ccc;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  gap: 5px;
  padding-inline-end: 25px;
  transition: background 0.7s;
}

.add > button:hover {
  background: rgb(33, 48, 71);
  color: #fff;
}

.notes {
  padding: 20px;
  width: 100%;
}

form:not(.box form) {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  position: relative;
}

svg.close-btn {
  cursor: pointer;
  z-index: 2;
  position: absolute;
  background-color: #5f3737;
  top: -10px;
  right: -15px;
  height: 33px;
  border-radius: 50%;
  transform: rotate(45deg);
  padding: 6px;
}

.close-btn:hover {
  background-color: #b94545;
}

form > *:not(svg) {
  width: 100%;
  padding: 10px 12px;
  color: #888;
  background-color: rgb(33, 48, 71);
  border: none;
  font-size: 16px;
  line-height: 1.4;
}

form input {
  border-bottom: 1px solid rgb(30, 41, 59);
  border-radius: 10px 10px 0 0;
  font-weight: 600;
}

form textarea {
  height: 100px;
  border-radius: 0 0 10px 10px;
  resize: none;
  transition: all 0.2s;
  outline: none;
}

textarea::-webkit-scrollbar {
  width: 0px;
}

.create-note > input:hover,
.create-note > textarea:hover {
  background-color: rgb(21, 38, 63);
  transform: scale(1.01);
}

.create-note > *:focus {
  background-color: rgb(21, 38, 63);
  outline: none;
}

button.save-btn {
  cursor: pointer;
  align-self: flex-end;
  width: 35%;
  height: 40px;
  margin-top: 2px;
  font-size: 20px;
  color: #aaa;
  background-color: rgb(33, 48, 71);
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.save-btn:hover {
  background-color: rgb(30 41 59);
  color: #fff;
}

.boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box {
  height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  margin: 3%;
  padding: 20px 20px 20px 15px;
  background-color: #1e293b;
  border-radius: 12px;
  width: 300px;
}

.box::-webkit-scrollbar-thumb {
  background-color: rgb(33, 48, 71);
  border-radius: 10px;
}

.box::-webkit-scrollbar-thumb:hover {
  background-color: rgb(33, 55, 88);
}

.box h3 {
  user-select: none;
  color: #aaa;
  font-size: 22px;
  padding-bottom: 8px;
  border-bottom: 1px solid #999;
  width: 80%;
}

.box p {
  user-select: none;
  width: 77%;
  margin: 10px 0 0 12px;
  color: #ccc;
}

.box > form {
  padding: 30px 0 30px 0;
  position: relative;
  z-index: 0;
}

.box * {
  word-wrap: break-word;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.box svg.close-btn {
  top: 5px;
  right: 5px;
  height: 30px;
  padding: 5px;
}

.box .edit-btn {
  cursor: pointer;
  position: absolute;
  color: #306761;
  top: 5px;
  right: 35px;
  height: 30px;
}

.box .close-form-btn {
  position: absolute;
  background-color: #814343;
  top: -15px;
  right: -15px;
  height: 30px;
  padding: 5px;
  border-radius: 50%;
  transform: rotate(45deg);
}

.box .edit-form-btn {
  cursor: pointer;
  position: absolute;
  color: #306761;
  top: -15px;
  right: 15px;
  height: 30px;
}

.box .edit-btn:hover {
  color: #31867c;
}

.box .close-form-btn:hover {
  cursor: pointer;
  background-color: #b94545;
}

.box .edit-form-btn:hover {
  color: #31867c;
}

.box button.save-btn {
  align-items: center;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 4px;
  font-size: 18px;
  color: #fff;
  background-color: #285550;
  border-radius: 0 0 8px 8px;
}

.box button.save-btn:hover {
  background-color: #3a9e74;
}

@media (min-width: 640px) {
  .boxes {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .boxes::after {
    margin: 3%;
    content: '';
    width: 300px;
  }
}

@media (min-width: 768px) {
  .box {
    width: 280px;
  }

  form.box {
    width: 280px;
  }

  .boxes::after {
    width: 280px;
  }
  .box button.save-btn {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .box {
    width: 280px;
  }

  .boxes::after {
    width: 280px;
  }
}
