@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.Toastify__toast-theme--colored.Toastify__toast--error {
  --toastify-color-error: #8b261b;
}

body {
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #dce5fc;
}

#root {
  width: 100vw;
  position: relative;
  min-height: 100vh;
}
