@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.Toastify__toast-theme--colored.Toastify__toast--error {
  --toastify-color-error: #8b261b;
}

body {
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #2e3c5d;
}

#root {
  width: 100vw;
  position: relative;
  min-height: 100vh;
  background-color: #dce5fc;
}

body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #dce5fc;
  margin-top: 96px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #2e3c5d;
  border-radius: 2px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #394c77;
}

h4 + p::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 13px;
}

/* Track */
h4 + p::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
  background: #2e3c5d;
  border-radius: 3px;
}

/* Handle */
h4 + p::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  background: #3a5385;
  border-radius: 3px;
}

/* Handle on hover */
h4 + p::-webkit-scrollbar-thumb:hover,
textarea::-webkit-scrollbar-thumb:hover {
  background: #5675b3;
}
